/*Стили чанка боссов на странице о нас*/
.employee{
	overflow:hidden;
	margin-bottom:30px;
}
.employee img{
	float:left;
	display:inline-block;
	margin-right:15px;
	margin-bottom:60px;
	width:100px;
}
.employee >div p{
	 font-weight:bold;
	 color:#e35e02;
}
.employee >div>span{
	color: #666;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}
.appointment{
	display:block;
	color: #666;
    font-size: 15px;
    font-weight: 500;
	margin-top:5px;
}

.general-parthner{
	margin:30px auto -20px;
	text-align:center;
	
}
.general-parthner img{
	width:300px;
	display:inline-block;
	margin-left:-250px;
}
.general-parthner p{
	display:block;
	float:left;
	text-align:right;
	color: #ffc712;
    font-size: 22px;
    font-weight: 700;
	margin-top:20px;
}