html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Raleway;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
}
body {
  line-height: 1;
  /* letter-spacing: -0.04em; */
  background: #FFF;
  font-family: Raleway;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
input {
  outline: none;
  font-family: Raleway;;;
}
header {
  width: 100%;
  height: 110px;
  overflow: hidden;
}
header .logo {
  float: left;
  margin: 5px 17.5px 0 20px;
}
header .menu{
  float: left;
  display: flex;
  align-items:center;
  /*justify-content:space-around;
  width:34%;*/
  height:100%;
  text-transform:uppercase;
  letter-spacing:0.1px;
}
header .menu ul {
  display: flex;
  align-items:center;
  /*justify-content:space-around;
  width:34%;*/
  height:100%;
  text-transform:uppercase;
  letter-spacing:0.1px;
}

header .menu .have_subs .subs {
  display: none;
  position: absolute;
  margin-left: 17.5px;
  z-index: 4;
}
header .menu .have_subs:hover > .subs {
  display: block;
}
header .menu .have_subs ul {
  height: auto;
  flex-direction: column;
  opacity: 0.99;;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 12px;
  margin-top: 20px;
  background-color: #525252;
  
}
header .menu .have_subs ul li{
  
}

header .menu .have_subs ul li a{
  text-align: left;
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: none;
  display: block;
  margin: 12px 21px 0;

}
header .menu .have_subs ul li a:hover{
  color: white;
  text-decoration: underline;
}
header .menu a {
  color: #666;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 17.5px 0 17.5px;;
}
header .menu a:hover {
  color: #e35e02;
}
header .menu .active a{
  color: #e35e02;
}
header .buttons {
  float: right;
  display: flex;
  align-items:center;
  height: 100%;
}
header .buttons .login{
  width: 212px;
  height: 41px;
  background-color: #ffc712;
  border-radius: 3px;
  margin-right: 15px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 42px;
  display: block;
  text-align: center;
}
header .buttons .search{;
  
}
header .buttons .search input{
  border: none;
  border-bottom: 1px solid #979797;
  margin: 0 24px 0 18px;
  color: #444;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  padding: 9px 0 9px 1px;
  width: 160px;
}
header .buttons .search img{
  vertical-align: middle;
  
}
.top_slider {
  height: 690px;
  width: 100%;
  

}
.top_slider .slider1{
  width: 100%;
  height: 690px;
  background-image: url(../img/slider1.jpg);
  background-position: center;
  background-size: cover;
}
.top_slider .slider1 .content{
  width: 1137px;
  margin: 0 auto;

}
.top_slider .slider1 .content .logo{
  margin-top: 81px;
}
.top_slider .slider1 .content .podlogo{
  overflow: hidden;
  padding-top: 78px;;;
}
.top_slider .slider1 .content .podlogo .block{
  width: 246px;
  height: 21px;
  background-color: #e35e02;
  color: white;
  font-family: Arial;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  float: right;
  margin-right: 13px;
}
.top_slider .slider1 .content .title{
  text-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.53px;
  margin-top: 7px;
}
.top_slider .slider1 .content .title span{
  color: #ffc712;
}
.top_slider .slider1 .content .text{
  color: white;
  font-size: 17px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 32px;
  width: 962px;
}
.top_slider .slider1 .content .watch_btn {
  width: 213px;
  height: 44px;
  background-color: #ffc712;
  border-radius: 3px;
  color: white;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 44px;
  display: block;
  text-align: center;
  margin-top: 30px;;;
}
.top_slider .slider1 .content .watch_btn:hover{
  background-color: #e35e02;
}
.top_slider .slider1 .content .watch_btn img{
  vertical-align: text-bottom;
  margin-right: 16px;

}
.top_slider .slider1 .content .slider_crp {
  margin-top: 47px;

}
.top_slider .oval {
  text-align: right;
  margin: 0px auto 0;
  width: 1064px;

}
.top_slider .oval .oval_s{
  width: 8px; height: 8px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;

}
.top_slider .oval .oval_n{
  border: 1px solid white;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  display: inline-block;
}
.top_slider .sl_next {
  position: absolute;
  margin: 358px 0 0 0;
  right: 20px;

}
.top_slider .sl_next img{
  opacity: 0.5;

}
.top_slider .sl_next img:hover{
  opacity: 1;
}
.top_slider .sl_pre {
  position: absolute;
  margin-top: 358px;
  left: 20px;;;;

}
.top_slider .sl_pre img{
  opacity: 0.5;
}
.top_slider .sl_pre img:hover{
  opacity: 1;
}
.content {
  width: 1138px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.content .top_text{
  margin-top: 30px;
  line-height: 26px;
  color: #666;
  font-size: 15px;
  font-weight: 500;
  
}
.content .top_text span{
  color: #ffc712;
  font-size: 22px;
  font-weight: 700;
}
.content .title_pr {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  color: #444;
  font-weight: 300;
  margin-top: 46px;
}
.content .title_pr span{
  color: #ffc712;
  font-weight: 700;
}
.content .pr_groups {
  display: flex;
  justify-content:space-around;
  margin-top:37px;
}
.content .pr_groups .group{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.content .pr_groups .group .img{
  width: 76px;
  border-radius: 100px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center;;;;;;;;

}
.content .pr_groups .group .it{
  background-image: url(../img/cat_it.png);
}
.content .pr_groups .group .it:hover{
  background-image: url(../img/cat_it_a.png);
}
.content .pr_groups .group .it_a{
  background-image: url(../img/cat_it_a.png);
}
.content .pr_groups .group .robo{
  background-image: url(../img/cat_robo.png);
}
.content .pr_groups .group .robo_a{
  background-image: url(../img/cat_robo_a.png);
}
.content .pr_groups .group .robo:hover{
  background-image: url(../img/cat_robo_a.png);
}

.content .pr_groups .group .energ{
  background-image: url(../img/cat_energ.png);
}
.content .pr_groups .group .energ_a{
  background-image: url(../img/cat_energ_a.png);
}
.content .pr_groups .group .energ:hover{
  background-image: url(../img/cat_energ_a.png);
}

.content .pr_groups .group .food{
  background-image: url(../img/cat_food.png);
}
.content .pr_groups .group .food_a{
  background-image: url(../img/cat_food_a.png);
}
.content .pr_groups .group .food:hover{
  background-image: url(../img/cat_food_a.png);
}

.content .pr_groups .group .med{
  background-image: url(../img/cat_med.png);
}
.content .pr_groups .group .med_a{
  background-image: url(../img/cat_med_a.png);
}
.content .pr_groups .group .med:hover{
  background-image: url(../img/cat_med_a.png);
}

.content .pr_groups .group .learn{
  background-image: url(../img/cat_learn.png);
}
.content .pr_groups .group .learn_a{
  background-image: url(../img/cat_learn_a.png);
}
.content .pr_groups .group .learn:hover{
  background-image: url(../img/cat_learn_a.png);
}

.content .pr_groups .group .pro{
  background-image: url(../img/cat_pro.png);
}
.content .pr_groups .group .pro_a{
  background-image: url(../img/cat_pro_a.png);
}
.content .pr_groups .group .pro:hover{
  background-image: url(../img/cat_pro_a.png);
}

.content .pr_groups .group .safe{
  background-image: url(../img/cat_safe.png);
}
.content .pr_groups .group .safe_a{
  background-image: url(../img/cat_safe_a.png);
}
.content .pr_groups .group .safe:hover{
  background-image: url(../img/cat_safe_a.png);
}

.content .pr_groups .group .active{
  background-color: #e35e02;
}
.content .pr_groups .group .img:hover {
  background-color: #e35e02;
}
.content .pr_groups .group .title{
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 15px;
}
.content .projects {
  width: 100%;
  height: auto;
  margin-top: 48px;
  overflow: hidden;;

}
.content .projects .pr{
  background-repeat: no-repeat;
  flex-shrink: 0;

}
.content .projects .proj_podblock .pr {
  flex-basis: 188px;

}
.content .projects .pr1{
  height: 402px;
  background-size: cover;
  flex-basis: 262px;
}
.content .projects .pr2{
  height: 402px;
  flex-basis: 361px;
}
.content .projects .pr3{
  width: 458px;
  height: 188px;
}
.content .projects .pr4{
  width: 458px;
  height: 186px;
}

.content .projects .proj_block1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-flow: row nowrap;
  margin-bottom: 33px;;;;;;;

}
.content .projects .proj_block1 .proj_podblock1{
  display: flex;
  justify-content: space-around;

}
.content .projects .proj_block1 .proj_podblock{
  flex-flow: column wrap;
  display: flex;
  justify-content: space-between;;;

}
.content .projects .proj_block1 .proj_podblock2{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: space-between;
  justify-content: flex-start;
}
.content .add_pr {
  margin: 30px auto 0;
}
.content .add_pr a{
  width: 249px;
  height: 44px;
  border: 1px solid #979797;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  color: #666;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.content .add_pr a:hover{
  color: #e35e02;
  border: 1px solid #e35e02;

}
.content .add_pr .plus{
  width: 21px;
  height: 21px;
  background-color: #ffc712;
  position: absolute;
  color: white;
  font-size: 26px;
  font-weight: 500;
  line-height: 23px;
  border-radius: 100px;
  margin-top: -59px;
  margin-left: 15px;
}
.pr_maps {
  text-align: center;
  height: 350px;
  background-color: #ffc712;
  width: 100%;
  margin-top: 43px;

}
.pr_maps .content {
  background-image: url(../img/pr_map.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.pr_maps .content .title {
  text-shadow: 0 12px 14px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  padding-top: 115px;
  margin-bottom: 0;
}
.pr_maps .content .title span{
  font-weight: 700;
  color: inherit;;
}
.pr_maps .content a{
  width: 213px;
  height: 44px;
  background-color: #e35e02;
  border-radius: 3px;
  display: block;
  margin: 32px auto 0;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 44px;
}
.pr_maps .content a:hover{
  background-color: #e38e02;
}
.partic {
  text-align: center;
  margin-top: 40px;

}
.partic .title{
  font-family: Raleway;
  font-size: 36px;
  line-height: 42px;
  color: #444;
  font-weight: 300;
  margin-bottom: 51px;
  padding-top: 0;
  letter-spacing: -0.09px;
}
.partic .title span{
  color: #ffc712;
  font-weight: 700;
}
.partic .item {
  width: 300px;
  height: 390px;
  border: 2px solid #d8d8d8;
  margin-right: 43px;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;;
}
.partic .item .title {
  color: #444;
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  margin: 30px 27px 0 27px;
  height: 20%;
  padding-top: 0;
  letter-spacing: -0.09px;
}
.partic .item .text {
  color: #666;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin: 37px 27px -2px 27px;
  height: 45%;
}
.partic .item a {
  width: 163px;
  height: 44px;
  background-color: #ffc712;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;;
}
.partic .item:hover{
  border: 2px solid #ffc712;
}
.partic .item a:hover {
  background-color: #e35e02;
}
.block_for_slider {
  width: 69px;
  height: 242px;
  background-color: #ffc712;
  position: absolute;
  right: 0;
  margin-top: -171px;
  z-index: 2;
}
.block_for_slider2{
  width: 106px;
  height: 160px;
  opacity: 0.3;
  background-color: #ffc712;
  position: absolute;
  right: 0;
  margin-top: -51px;
  z-index: 2;
}
.block_for_slider3 {
  width: 77px;
  height: 161px;
  background-color: #ffc712;
  position: absolute;
  right: 0;
  margin-top: -30px;
}
.block_for_slider4{
  width: 102px;
  height: 107px;
  opacity: 0.3;
  background-color: #ffc712;
  position: absolute;
  right: 0;
  margin-top: 48px;
}
.next_events {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 68px;
}
 .title {
  font-size: 36px;
  line-height: 42px;
  color: #444;
  font-weight: 300;
  letter-spacing: -0.9px;
}
 .title span{
  color: #ffc712;
  font-weight: 700;
}
.next_events .event {
  display: inline-block;
  width: 367px;
  height: 110px;
  margin-bottom: 71px;
}
.next_events .event .img{
  width: 83px;
  height: 83px;
  border: 2px solid #e35e02;
  border-radius: 100px;
  float: left;
  margin-top: 14px;;
}
.next_events .event .date {
  color: #aaa;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
.next_events .event .right {
  width: 70%;
  float: right;
  text-align: left;;;

}
.next_events .event .city {
  background-color: #e35e02;
  color: white;
  font-family: Arial;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  display: inline-block;
  padding: 4px 8px;
}
.next_events .event .text {
  color: #444;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 13px;
}
.next_events .event .text:hover {
  color: #e35e02;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  text-decoration: underline;
}
.next_events .events_block {
  width: 1122px;
  margin: 0 auto;
  text-align: left;;

}
.next_events .title {
  margin-bottom: 67px;
  padding-top: 40px;
}
.partners {
  text-align: center;
}
.partners .title{
  margin-bottom: 75px;
  padding-top: 40px;
  
}
.partners .part_carousel {
  display: flex;
  justify-content: space-around;
  width: 1222px;
  margin: 0 auto;
  align-items: center;;

}
.partners .part_carousel .prev {
  background: 0 0 url('../img/part_prev.png') no-repeat;
  width: 12px;
  height: 32px;
}
.partners .part_carousel .part {

}
.partners .part_carousel .next {
  background: 0 0 url('../img/part_next.png') no-repeat;
  width: 12px;
  height: 32px;
}
.partners .part_carousel .prev:hover, .partners .part_carousel .next:hover {
  background-position: 0 -32px;
}
.social {
  text-align: center;

}
.social .title {
  color: #333;
  font-size: 26px;
  font-weight: 300;
  padding: 0 11px;
  margin-top: -22px;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;;
}
.social .line_title {
  margin-top: 111px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  margin-bottom: 85px;
}
.social .item {
  display: inline-block;
  margin-left: 110px;
}

.social .item img{
  float: left;

}
.social .item .text {
  color: #aaa;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  float: right;
  margin-left: 19px;
}
.social .item .text:hover {
  color: #506aa4;
  text-decoration: underline;
}
.social  .item:nth-child(2) {
  margin-left: 0;
}
.delivery {
  height: 146px;
  background-color: #ffc712;
  width: 100%;
  margin-top: 57px;
  text-align: center;
}
.delivery .block {
  background-image: url(../img/deliv_bg.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;;;
}
.delivery .block .text {
  color: white;
  font-size: 17px;
  font-weight: 600;
  line-height: 29px;
  padding-top: 32px;
  margin-bottom: 12px;
}
.delivery .block .deliv_mail {
  width: 210px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  border: none;
  padding-left: 14px;
}
.delivery .block .deliv_btn {
  width: 147px;
  height: 42px;
  background-color: #e35e02;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 44px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.footer {
  height: 106px;
  background-color: #222;
  text-align: center;
}
.footer .title_f {
font-size: 13px;
line-height: 20px;
color: #787878;
font-weight: 600;
width: 337px;
text-align: left;
}
.footer .title_f span{
  color: #787878;
  font-weight: 700;
}
.footer .text {
  font-size: 17px;
  line-height: 20px;
  color: #787878;
  font-weight: 600;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.footer .text a {
  font-weight: 900;
  margin-left: 3px;

}
.footer .text img {
  margin-left: 12px;

}
.top_slider .slider_footer {
  width: 100%;
  height: 105px;
  background-color: rgba(0,0,0,0.5);
  margin-top: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;;
}
.top_slider .bot_shadow {
  height: 277px;
  width: 100%;
  margin-top: -166px;
  position: absolute;
  background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.4) 100%);;
}
.top_slider .slider_footer .text {
  height: 52px;
  line-height: 26px;
  text-align: left;
  display: inline-block;
  color: white;
  width: 916px;
  font-size: 15px;
  font-weight: 500;;

}
.top_slider .slider_footer .block {
  width: 1137px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;;
}
.top_slider .slider_footer .text span {
  color: #ffc712;
  font-size: 22px;
  font-weight: 700;
}
.top_slider .slider_footer a{
  width: 193px;
  height: 44px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 45px;

}
.about {
  height: 610px;
  background-color: #f4f4f4;
}
.about .title {
  padding-top: 40px;

}
.about .item {
  width: 263px;
  height: 440px;

}
.about .item img{
  width: 90px;
  height: 90px;
  margin: 0 auto;;
}

.about .item .text {
  margin-top: 28px;
  height: 33%;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 17px;;

}
.about .item .title {
  height: 15%;
  margin: 30px 0 0 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;

}
.about .item .text ul{
  text-align: left;
  list-style-image: url(../img/oval_ul.png);

}
.about .item .text ul li{
  margin-bottom: 10px;
  padding-left: 7px;;

}
.partners .part_carousel .part:hover {
  opacity: 0.5;
}
.header_second {
  width: 100%;
  height: 478px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.header_second .bot_shadow {
  width: 100%;
  height: 394px;;
  margin-top: 84px;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
}
.header_second .content {

}
.header_second .content .title {
  text-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: -0.53px;
  padding-top: 160px;
}
.header_second .content .text {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 20px;
}
.header_second .content .btn_second {
  width: 213px;
  height: 44px;
  background-color: #ffc712;
  border-radius: 3px;
  display: block;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 45px;
  margin-top: 20px;
  text-align: center;
}
.header_second .content .btn_second:hover {
  background-color: #e35e02;
}

.seconds .next_events {
  margin-top: 0;
  background-color: #fff;

}
.seconds .delivery {
  margin-top: 0px;
}
.meets_my {
  width: 1137px;
  height: 560px;
  background-color: #f4f4f4;
  border-radius: 4px;
  margin: 0 auto;
  padding: 29px 26px 30px 33px;
}
.meets_my .title_m {
  color: #444;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;

}
.meets_my .text {
  color: #444;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 18px;

}
.meets_my .form {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-content: space-between; */;;

}
.meets_my .form .inp_block {
  margin-bottom: 17px;

}
.meets_my .form .inp_block .title_i {
  color: #444;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 9px;
}
.meets_my .form .inp_block input[type=text] {
  width: 490px;
  height: 44px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  color: #444;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
  padding-left: 15px;

}
.meets_my .form .inp_block input:focus {
  border: 1px solid #ffc712;
}
.meets_my .form .inp_block textarea {
  width: 490px;
  height: 180px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  resize: none;
  padding: 14px 0 0 15px;
  outline: none;

}
.meets_my .form .inp_block textarea:focus {
  border: 1px solid #ffc712;
}
.meets_my .form .sel_block{
  width: 529px;
  height: 399px;
  background-color: #e35e02;
  border-radius: 4px;
  margin-top: 3px;
}
.meets_my .form .sel_block .title_block {
  width: 529px;
  height: 87px;
  opacity: 0.1;
  background-color: black;
  position: absolute;
  z-index: 1;
}
.meets_my .form .sel_block .title_s{
  color: white;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding: 25px 26px 0 29px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}
.meets_my .form .sel_block .inp_block {
  display: flex;
  align-items: center;
  margin-left: 28px;

}
.meets_my .form .sel_block .inp_block input {

}
.meets_my .form .sel_block .inp_block .text {
  margin: 0 0 0 20px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
.meets_my .form .sel_block .acce {
  width: 183px;
  height: 44px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 46px;
  display: block;
  margin-left: 33px;
  text-align: center;
  margin-top: 34px;
}
.myevent_add {
  width: 213px;
  height: 44px;
  background-color: #ffc712;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 45px;
  display: block;
  margin: 40px auto;
  text-align: center;
}
.myevent_add:hover {
  background-color: #e35e02;
}
.radio {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.radio + label {
  
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative; 
  padding: 0 0 0 37px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  height: 9px;
  width: 9px;
  border: 1px solid #fff;
  border-radius: 13px;
}
.radio:not(checked) + label:after {
  content: '';
  width: 22px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  background: #FFF;
  transition: all .2s;
  display: none;
}
.radio:checked + label:before {
  background: #FFF;
}
.radio:checked + label:after {
  left: 26px;
}
.judi {
  text-align: center;
}
.judi .stat {
  display: flex;
  margin-top: 45px;
  align-items: flex-start;

}
.judi .stat img {
  margin-top: 8px;

}
.judi .stat .text {
  line-height: 26px;
  color: #444;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  margin-left: 23px;
}
.judi .stat .text p{
  margin-bottom: 18px;

}
.judi .stat .text span {
  color: #ffc712;
  font-size: 22px;
  font-weight: 700;
}
.judi .title {
  margin-top: 40px;
}
.judi .add_judi {
  width: 1137px;
  height: 202px;
  background-color: #f4f4f4;
  border-radius: 4px;
  margin-bottom: 42px;
  margin-top: 45px;
  text-align: left;
  padding: 29px 31px 0;
}
.judi .add_judi .title_j {
  color: #444;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;

}
.judi .add_judi .text {
  color: #444;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;

}
.judi .add_judi a {
  width: 213px;
  height: 44px;
  background-color: #ffc712;
  border-radius: 3px;
  display: block;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 45px;
  margin-top: 23px;
}
.judi .add_judi a:hover {
  background-color: #e35e02;
}
.footer .content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;

}
.header_second .mask {
  position: absolute;
  background-color: #1e2128;
  width: 100%;
  height: 478px;
  opacity: 0.5;;

}
.header_second .content .profile_top {
  padding-top: 154px;
  display: flex;
  align-items: center;

}
.header_second .content .img {
  background-image: url(../img/profile_img.png);
  width: 150px;
  height: 150px;
  border-radius: 200px;

}
.header_second .content .text_block {
  margin-left: 35px;
  
}
.header_second .content .name {
  color: white;
  font-size: 40px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -0.57px;
  margin-bottom: 8px;;;;;;;
}
.header_second .content .status {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 8px;
}