<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
[[$head]]
<body class="seconds">
[[$header]]
[[$header_second]]
[[*content]]
<div class="content profile">
	<div class="left_block">
		<div class="profile_about">
			<div class="title_pr_a">О СЕБЕ</div>
			<div class="text">Во-первых, если у кого то чего то нет, значит оно ему не надо. Будем честны с собой. Подобно этому парень во ВКонтакте пишет «Хочу BMW X5». Мой ответ простой: «Хотел бы, была». Мы часто подменяем понятия «Хочу» и «Хотелось бы». Вы же хотите дышать. Вот вы и дышите. Поэтому все просто — страна (вернее власть) не хочет чтобы оно, производство, было. Единственное, что может взбодрить власть электрошоком.</div>
		</div>
		<div class="profile_projects">
			<div class="title_pr_a">УЧАСТВУЕТ В ПРОЕКТАХ</div>
			<div class="projects_block">
				<div class="project">
					<div style="background-image: url(assets/img/profile_proj1.jpg);" class="img">
						<div class="title_p">БЫСТРЫЙ ПЕРЕЗВОН CALLBACKHUNTER</div>
						<div class="raiting">
							<div class="num">46</div>
							<div class="text">рейтинг</div>
						</div>
					</div>
					<div class="shadow"></div>
					<div class="helpers">
						<a href="#"><img src="assets/img/helper1.png"></a>
						<a href="#"><img src="assets/img/helper2.png"></a>
						<a href="#"><img src="assets/img/helper3.png"></a>
						<a href="#"><img src="assets/img/helper4.png"></a>
						<a href="#"><img src="assets/img/helper5.png"></a>
					</div>
					<div class="post_help">
						<div class="col">342</div>
						<div class="text">Человека уже помогли проекту</div>
					</div>
				</div>
				<div class="project">
					<div style="background-image: url(assets/img/profile_proj2.jpg);" class="img">
						<div class="title_p">БЫСТРЫЙ ПЕРЕЗВОН CALLBACKHUNTER</div>
						<div class="raiting">
							<div class="num">46</div>
							<div class="text">рейтинг</div>
						</div>
					</div>
					<div class="shadow"></div>
					<div class="helpers">
						<a href="#"><img src="assets/img/helper1.png"></a>
						<a href="#"><img src="assets/img/helper2.png"></a>
						<a href="#"><img src="assets/img/helper3.png"></a>
						<a href="#"><img src="assets/img/helper4.png"></a>
						<a href="#"><img src="assets/img/helper5.png"></a>
					</div>
					<div class="post_help">
						<div class="col">23</div>
						<div class="text">Человека уже помогли проекту</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="right_block">
		<div class="link_block">
			<div class="title_pr_a">ССЫЛКИ</div>
			<div class="links">
				<a href="#">callbackhunter.com</a>
			</div>
		</div>
		<div class="favour_block">
			<div class="title_pr_a">ИНТЕРЕСЫ</div>
			<a href="#" class="fav">Воздух</a>
			<a href="#" class="fav">Математика</a>
			<a href="#" class="fav">Технологии</a>
			<a href="#" class="fav">Ископаемые</a>
			<a href="#" class="fav">Субъект</a>
		</div>
	</div>
</div>
[[$delivery]]
[[$footer]]
</body>
</html>