<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
[[$head]]
<body class="seconds">
[[$header]]
[[$header_second]]
[[*content]]
<div class="content content_invests">
	<div class="title_pr">Проекты <span>принимающие</span> участие</div>
	<div class="left_menu">
		<a class="menu_item" href="#">
			<div class="img all"></div>
			<div class="text">Все</div>
			<div class="arr"></div>
		</a>
		<a class="menu_item" href="#">
			<div class="img robo"></div>
			<div class="text">Робототехника</div>
			<div class="arr"></div>
		</a>
		<a class="menu_item" href="#">
			<div class="img it"></div>
			<div class="text">ИТ и коммуникации</div>
			<div class="arr"></div>
		</a>
	</div>
	<div class="right_content"></div>
</div>
[[$delivery]]
[[$footer]]
</body>
</html>