<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
[[$head]]
<body class="minor">
[[$header]]
[[$header_minor]]
[[*content]]
<div class="content">
	<div class="projs">
		<div class="title">Недавно добавлены</div>
	</div>
	<div class="projects">
		[[!getResources? &parents=`12` &tpl=`project_item` &limit=`4` &includeTVs=`1` &processTVs=`1`]]	
	</div>
	<div class="title_pr">Проекты <span>принимающие</span> участие</div>
	[[$pr_groups]]
	<div class="projects projects_getjs">
		[[!getResources? &parents=`12` &tpl=`project_item` &limit=`8` &includeTVs=`1` &processTVs=`1`]]	
	</div>
	<script type="text/javascript">

		
	</script>
</div>
[[$delivery]]
[[$footer]]
</body>
</html>