<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
[[$head]]
<body class="minor">
[[$header]]
[[$header_minor]]
<div class="content">
	<div class="last_news">
		<div class="title">Последние новости</div>
		<div class="block_news">
			<div class="news">
				<a href="#">
					<img src="assets/img/news_pre1.jpg">
				</a>
				<div class="date">12 ноября 2015</div>
				<div class="cat">РОБОТОТЕХНИКА</div>
				<a href="#">
					<div class="title_n">Открытая встреча «The Future of Franchising»</div>
				</a>
				<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
			</div>
			<div class="news">
				<a href="#">
					<img src="assets/img/news_pre2.jpg">
				</a>
				<div class="date">12 ноября 2015</div>
				<div class="cat">РОБОТОТЕХНИКА</div>
				<a href="#">
					<div class="title_n">Открытая встреча «The Future of Franchising»</div>
				</a>
				<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
			</div>
			<div class="news">
				<a href="#">
					<img src="assets/img/news_pre3.jpg">
				</a>
				<div class="date">12 ноября 2015</div>
				<div class="cat">РОБОТОТЕХНИКА</div>
				<a href="#">
					<div class="title_n">Открытая встреча «The Future of Franchising»</div>
				</a>
				<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
			</div>
			<div class="news">
				<a href="#">
					<img src="assets/img/news_pre4.jpg">
				</a>
				<div class="date">12 ноября 2015</div>
				<div class="cat">РОБОТОТЕХНИКА</div>
				<a href="#">
					<div class="title_n">Открытая встреча «The Future of Franchising»</div>
				</a>
				<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
			</div>
			<div class="news">
				<a href="#">
					<img src="assets/img/news_pre5.jpg">
				</a>
				<div class="date">12 ноября 2015</div>
				<div class="cat">РОБОТОТЕХНИКА</div>
				<a href="#">
					<div class="title_n">Открытая встреча «The Future of Franchising»</div>
				</a>
				<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
			</div>
		</div>
	</div>
</div>
<div class="news_cat">
	<div class="content">
	<div class="title">Новости по категории</div>
		[[$pr_groups]]
		<div class="last_news">
			<div class="block_news">
				<div class="news">
					<a href="#">
						<img src="assets/img/news_pre1.jpg">
					</a>
					<div class="date">12 ноября 2015</div>
					<div class="cat">РОБОТОТЕХНИКА</div>
					<a href="#">
						<div class="title_n">Открытая встреча «The Future of Franchising»</div>
					</a>
					<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
				</div>
				<div class="news">
					<a href="#">
						<img src="assets/img/news_pre2.jpg">
					</a>
					<div class="date">12 ноября 2015</div>
					<div class="cat">РОБОТОТЕХНИКА</div>
					<a href="#">
						<div class="title_n">Открытая встреча «The Future of Franchising»</div>
					</a>
					<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
				</div>
				<div class="news">
					<a href="#">
						<img src="assets/img/news_pre3.jpg">
					</a>
					<div class="date">12 ноября 2015</div>
					<div class="cat">РОБОТОТЕХНИКА</div>
					<a href="#">
						<div class="title_n">Открытая встреча «The Future of Franchising»</div>
					</a>
					<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
				</div>
				<div class="news">
					<a href="#">
						<img src="assets/img/news_pre4.jpg">
					</a>
					<div class="date">12 ноября 2015</div>
					<div class="cat">РОБОТОТЕХНИКА</div>
					<a href="#">
						<div class="title_n">Открытая встреча «The Future of Franchising»</div>
					</a>
					<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
				</div>
				<div class="news">
					<a href="#">
						<img src="assets/img/news_pre5.jpg">
					</a>
					<div class="date">12 ноября 2015</div>
					<div class="cat">РОБОТОТЕХНИКА</div>
					<a href="#">
						<div class="title_n">Открытая встреча «The Future of Franchising»</div>
					</a>
					<div class="desc">С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что катена теоретически возможна.</div>
				</div>
			</div>
		</div>
	</div>
</div>
[[$partners]]
[[$social]]
[[$delivery]]
[[$footer]]
</body>
</html>