<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
[[$head]]
<body class="seconds project">
[[$header]]
[[$header_do_invest]]
<div class="content project_content doinvest_content">
  <div class="title">
    Инвестировать
  </div>
  <div class="form">
    <div class="inp_block">
      <div class="text">
        ВВЕДИТЕ ВАШЕ ПОЛНОЕ ИМЯ
      </div>
      <input type="text" placeholder="Введите Ваше имя" name="name" value="">
    </div>
    <div class="inp_block">
      <div class="pod_block">
        <div class="text text_half">
          ТЕЛЕФОН
        </div>
        <input class="inp_half"  placeholder="Введите Ваш телефон" type="text" name="tel" value="">
      </div>
      <div class="pod_block">
        <div class="text text_half">
          E-MAIL
        </div>
        <input type="text" placeholder="Введите Ваш email" class="inp_half" name="mail" value="">
      </div>
    </div>
    <div class="inp_block">
      <div class="text">
        СУММА ИНВЕСТИЦИЙ
      </div>
      <input type="text"placeholder="Введите желаемую сумму инвестиций..." name="sum" value="">
    </div>
    <div class="price_block">
      <div class="price_now">
        [[get_tv? &type=`tv` &do=`invest_price_now`]]
      </div>
      <div class=price_need>
        из [[get_tv? &type=`tv` &do=`invest_priceneed`]]
      </div>
      <div class="percent">
        [[!invest_percent? &type=`percent2` &id=`[[!echo_get? &type=`id`]]`]]%<span>завершено</span>
      </div>
      <div class="line"></div>
      <div style="width:[[!invest_percent? &type=`percent3` &id=`[[!echo_get? &type=`id`]]`]]%;" class="line_in"></div>
      <div style="margin-left:[[!invest_percent? &type=`percent3` &id=`[[!echo_get? &type=`id`]]`]]%;" class="oval"></div>
    </div>
    <div class="btn_block">
      <a class="btn btn_invest" href="#">ИНВЕСТИРОВАТЬ</a>
    </div>
  </div>
</div>
[[$delivery]]
[[$footer]]
</body>
</html>
