<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
[[$head]]
<body class="seconds project">
[[$header]]
[[$header_project]]
<div class="content project_content">
	<div class="left_block">
		<div class="title_p">[[*pagetitle]]</div>
		<div class="description">
			[[*introtext]]
		</div>
		<div class="content_text">
			[[*content]]
		</div>
		<div class="problem">
			<div class="title_problem">Глобальная проблема, которую решает мой проект</div>
			<div class="problem_block">
				[[*project_problem]]
				<a href="#">ПОМОЧЬ ПРОЕКТУ</a>
			</div>
		</div>
		<div class="problem_solution">
			<div class="title_problem">Радикальное решение проблемы</div>
			<div class="content_text">
				[[*project_problem_solution]]
			</div>
		</div>
		<div class="use_tech">
			<div class="title_problem">Используемые технологии</div>
			<div class="content_text">
				[[*project_use_tech]]
			</div>
		</div>
		<div class="problem">
			<div class="title_p">Как вы можете помочь проекту?</div>
			<div class="problem_block">
				<div class="content_text">
					[[*project_help_project]]
				</div>
				<a href="#">ПОМОЧЬ ПРОЕКТУ</a>
			</div>
		</div>
		<div class="helpers_block">
			<div class="helpers">
				<a href="#"><img src="assets/img/helper1.png"></a>
				<a href="#"><img src="assets/img/helper2.png"></a>
				<a href="#"><img src="assets/img/helper3.png"></a>
				<a href="#"><img src="assets/img/helper4.png"></a>
				<a href="#"><img src="assets/img/helper5.png"></a>
			</div>
			<div class="post_help">
				<div class="col">342</div>
				<div class="text">Человека уже помогли проекту</div>
			</div>
		</div>
	</div>
	<div class="right_block">
		
	</div>
</div>
[[$delivery]]
[[$footer]]
</body>
</html>