<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
[[$head]]
<body class="seconds project">
[[$header]]
[[$header_project]]
<div class="content project_content">
	<div class="left_block">
		<div class="title_p">[[*pagetitle]]</div>
		<div class="description">
			[[*introtext]]
		</div>
		<div class="content_text">
			[[*content]]
		</div>
		<div class="problem">
			<div class="title_problem">Глобальная проблема, которую решает мой проект</div>
			<div class="problem_block">
				[[*project_problem]]
				<a href="#">ПОМОЧЬ ПРОЕКТУ</a>
			</div>
		</div>
		<div class="problem_solution">
			<div class="title_problem">Радикальное решение проблемы</div>
			<div class="content_text">
				[[*project_problem_solution]]
			</div>
		</div>
		<div class="use_tech">
			<div class="title_problem">Используемые технологии</div>
			<div class="content_text">
				[[*project_use_tech]]
			</div>
		</div>
		<div class="problem">
			<div class="title_p">Как вы можете помочь проекту?</div>
			<div class="problem_block">
				<div class="content_text">
					[[*project_help_project]]
				</div>
				<a href="#">ПОМОЧЬ ПРОЕКТУ</a>
			</div>
		</div>
		<div class="helpers_block">
			<div class="helpers">
				<a href="#"><img src="assets/img/helper1.png"></a>
				<a href="#"><img src="assets/img/helper2.png"></a>
				<a href="#"><img src="assets/img/helper3.png"></a>
				<a href="#"><img src="assets/img/helper4.png"></a>
				<a href="#"><img src="assets/img/helper5.png"></a>
			</div>
			<div class="post_help">
				<div class="col">342</div>
				<div class="text">Человека уже помогли проекту</div>
			</div>
		</div>
	</div>
	<div class="right_block">
		<div class="stage_block">
			<div class="title_pr_a">ТЕКУЩИЙ ЭТАП</div>
			<div class="stage">Завершающая стадия</div>
		</div>
		<div class="innovator">
			<div class="title_pr_a">ИННОВАТОР</div>
			<a style="background-image:url(assets/img/profile_img.png)" href="#"></a>
			<div class="name">Руслан Татунашвили</div>
		</div>
		<div class="partners">
			<div class="title_pr_a">ОРГАНИЗАЦИИ И ПАРТНЕРЫ</div>
			<div class="block">
				<div class="org">CallBackHunter.com</div>
				<div class="post_title">ОРГАНИЗАЦИЯ</div>
			</div>
			<div class="block">
				<div class="org">CallBackHunter</div>
				<div class="post_title">ПАРТНЕР</div>
			</div>
		</div>
		<div class="place">
			<div class="title_pr_a">МЕСТОПОЛОЖЕНИЕ</div>
			<div class="map"><img src="assets/img/proj_map.jpg"></div>
		</div>
		<div class="teg">
			<div class="title_pr_a">ТЕГИ</div>
			<a href="#" class="fav">Воздух</a>
			<a href="#" class="fav">Математика</a>
			<a href="#" class="fav">Технологии</a>
			<a href="#" class="fav">Ископаемые</a>
			<a href="#" class="fav">Субъект</a>
		</div>
		<div class="links">
			<div class="title_pr_a">ССЫЛКИ НА ДРУГИЕ РЕСУРСЫ</div>
			<a href="callbackhunter.com">callbackhunter.com</a>
		</div>
	</div> 
</div>
[[$delivery]]
[[$footer]]
</body>
</html>